<% set_meta_tags noindex: true %>
<div class="headerImgBox">
    <div class="headerImg">
        <img src="/forstockHeader.svg" alt="sakuSAKU備蓄チェックー「備蓄を準備する」ページのヘッダー画像" class="topIndexHeaderImg">
    </div>
</div>



<main class="mainBox">

<!-- article -1 -->
    <article class="art_1 mx-auto d-block">
        <section class="sect_1 mt-5">
            <div class="container sectionBox">

                <div class="text-center">
                    <span>こちらのページは作成中です。</span>
                </div>

            </div>
        </section>
    </article>

</main>

