<% set_meta_tags noindex: true %>
<div class="headerImgBox">
    <div class="headerImg">
        <img src="/forstockHeader.svg" alt="sakuSAKU備蓄チェックー「備蓄を準備する」ページのヘッダー画像" class="topIndexHeaderImg">
    </div>
</div>



<main class="mainBox">

<!-- article -1 -->
    <article class="art_1 mx-auto d-block">
        <section class="sect_1 mt-5">
            <div class="container sectionBox">
                <div class="container">
                    <img src="/topTitle-fs000-01.svg" alt="sakuSAKU備蓄チェックー「備蓄アイテムの準備」バナー画像" class="mb-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-9">
                                <p class="topMessageBox text-center">
                                    <strong>「sakuSAKU備蓄チェック」をご利用ありがとうございます。</strong><br>
                                    「備蓄をチェックする」の結果はいかがでしたか？<br>
                                    全項目がOKだった方、すごいです！備蓄に対する準備がしっかりしてますね！<br>
                                    ちなみに、運営のえどっちの初めての結果は「コンロ」と「お米」だけでした。。。<br>
                                    <br>直接このページを開いた方は、最上段の<span class="bg-danger text-light p-1">備蓄をチェックする</span>から<br>
                                    是非、ご自宅の備蓄をチェックしてみてください。<br>
                                    <br>
                                    <span class="forStockContent">さて、準備がバッチリな方も、ちょっと足りなかった方も<br>
                                    もっと備蓄を追加しておこうかな。という方のために、<br>「アマゾン」の商品ページのリンクを貼ってあります。<br>
                                    備蓄のアイテムの参考や費用の目安としてもご活用ください。<br>
                                    （余裕があればご近所のスーパーやドラッグストアとの比較することもオススメです！）
                                    </span>
                                </p>
                            </div>
                            <div class="col-3">
                                <img src="/bichiku_side.svg" alt="sakuSAKU備蓄チェックー「通販と近所のお店の使い分け」画像" class="w-100">
                            </div>
                        </div>
                    </div>
                    <p class="bg-light bolder text-center">「sakuSAKU備蓄チェック」は、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に
                        設定されたアフィリエイトプログラムである、Amazonアソシエイト・プログラムの参加者です。」</p></span>

                </div>
                <hr>
                <div class="container">
                    <img src="/topTitle-fs000-02.svg" alt="sakuSAKU備蓄チェックー「商品ページへのリンク紹介」バナー" class="mb-3">
                    <div class="container-fluid">
                        <p class="bg-danger p-2 m-3 text-light text-center">
                        備蓄の参考アイテムへのリンクをご用意しました。気になるアイテムのアイコンをクリックしてください。<br>
                        アマゾンの商品ページへのリンクがありますので、気になる商品が見つかればクリックして<br>
                        アマゾンの商品ページをチェックしてみてください。※別タブでアマゾンの商品ページが開きます。
                        </p>
                        <div class="row mb-3">
                            <div class="col-2 text-center forstockItem">
                                <a href="#00001">
                                    <button class="forStocksItemBtn">
                                        <img src="/itemIcon-001.svg" alt="sakuSAKU備蓄チェックー飲料水の画像" class="forstockItemImg">
                                    </button>
                                </a>
                                <p class="itemName mt-1 text-center">飲料水</p>
                            </div>
                            <div class="col-2 text-center forstockItem">
                                <a href="#00002">
                                    <button class="forStocksItemBtn">
                                        <img src="/itemIcon-002.svg" alt="sakuSAKU備蓄チェックーカセットコンロの画像" class="forstockItemImg">
                                    </button>
                                </a>
                                <p class="itemName mt-1 text-center">カセットコンロ</p>
                            </div>
                            <div class="col-2 text-center forstockItem">
                                <a href="#00003">
                                    <button class="forStocksItemBtn">
                                        <img src="/itemIcon-003.svg" alt="sakuSAKU備蓄チェックーカセットボンベの画像" class="forstockItemImg">
                                    </button>
                                </a>
                                <p class="itemName mt-1 text-center">カセットボンベ</p>
                            </div>
                            <div class="col-2 text-center forstockItem">
                                <a href="#00004">
                                    <button class="forStocksItemBtn">
                                        <img src="/itemIcon-004.svg" alt="sakuSAKU備蓄チェックー白米の画像" class="forstockItemImg">
                                    </button>
                                </a>
                                <p class="itemName mt-1 text-center">白米</p>
                            </div>
                            <div class="col-2 text-center forstockItem">
                                <a href="#00005">
                                    <button class="forStocksItemBtn">
                                        <img src="/itemIcon-005.svg" alt="sakuSAKU備蓄チェックー乾麺の画像" class="forstockItemImg">
                                    </button>
                                </a>
                                <p class="itemName mt-1 text-center">乾麺</p>
                            </div>
                            <div class="col-2 text-center forstockItem">
                                <a href="#00006">
                                    <button class="forStocksItemBtn">
                                        <img src="/itemIcon-006.svg" alt="sakuSAKU備蓄チェックーパスタ麺の画像" class="forstockItemImg">
                                    </button>
                                </a>
                                <p class="itemName mt-1 text-center">パスタ乾麺</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2 text-center forstockItem">
                                <a href="#00007">
                                    <button class="forStocksItemBtn">
                                        <img src="/itemIcon-007.svg" alt="sakuSAKU備蓄チェックーカップ麺の画像" class="forstockItemImg">
                                    </button>
                                </a>
                                <p class="itemName mt-1 text-center">カップ麺</p>
                            </div>
                            <div class="col-2 text-center forstockItem">
                                <a href="#00008">
                                    <button class="forStocksItemBtn">
                                        <img src="/itemIcon-008.svg" alt="sakuSAKU備蓄チェックーパックごはんの画像" class="forstockItemImg">
                                    </button>
                                </a>
                                <p class="itemName mt-1 text-center">パックごはん</p>
                            </div>
                            <div class="col-2 text-center forstockItem">
                                <a href="#00009">
                                    <button class="forStocksItemBtn">
                                        <img src="/itemIcon-009.svg" alt="sakuSAKU備蓄チェックーシリアルの画像" class="forstockItemImg">
                                    </button>
                                </a>
                                <p class="itemName mt-1 text-center">シリアルなど</p>
                            </div>
                            <div class="col-2 text-center forstockItem">
                                <a href="#000010">
                                    <button class="forStocksItemBtn">
                                        <img src="/itemIcon-010.svg" alt="sakuSAKU備蓄チェックーレトルト食品１の画像" class="forstockItemImg">
                                    </button>
                                </a>
                                <p class="itemName mt-1 text-center">レトルト食品１</p>
                            </div>
                            <div class="col-2 text-center forstockItem">
                                <a href="#000011">
                                    <button class="forStocksItemBtn">
                                        <img src="/itemIcon-011.svg" alt="sakuSAKU備蓄チェックーレトルト食品２の画像" class="forstockItemImg">
                                    </button>
                                </a>
                                <p class="itemName mt-1 text-center">レトルト食品２</p>
                            </div>
                            <div class="col-2 text-center forstockItem">
                                <a href="#000012">
                                    <button class="forStocksItemBtn">
                                        <img src="/itemIcon-012.svg" alt="sakuSAKU備蓄チェックー缶詰の画像" class="forstockItemImg">
                                    </button>
                                </a>
                                <p class="itemName mt-1 text-center">缶詰（肉・魚）</p>
                            </div>
                        </div>

                        <p class="bg-danger p-2 m-3 text-light text-center">
                        リンク先の各商品は本サイト運営の方で参考アイテムとしてピックアップしたものです。<br>
                        全ての商品を実際に購入し内容を確認したものではありません。予めご了承ください。<br>
                        <span class="bolder">ご近所のスーパーやドラッグストアで購入した方が安い場合もあると思いますので、備蓄準備の参考として活用ください。</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <article class="art_2 mx-auto d-block">
        <section class="sect_2 mt-5">
            <div class="container sectionBox">
                <div class="container">
                    <img src="/topTitle-fs000-03.svg" alt="sakuSAKU備蓄チェックー「商品ページへのリンクコーナー」バナー" class="mb-3">
                </div>

                <div class="row" id="00001">
                    <div class="col-6 my-auto text-center">
                        <img src="/amazonLinkHeader_-01.svg" alt="sakuSAKU備蓄チェックー飲料水の画像" class="">
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B004M87TKU&linkId=b1405185504dbf620e2099e2d71e2288"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B008HAFEH4&linkId=4b54b9ec758255262d7ee67e86b60c82"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B00U3V8ASA&linkId=723f214828344cfcddfb74510a3e8543"></iframe>
                    </div>
                </div>
                <hr>
                <div class="row" id="00002">
                    <div class="col-6 my-auto text-center">
                        <img src="/amazonLinkHeader_-02.svg" alt="sakuSAKU備蓄チェックー" class="">
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B01JLJWXQY&linkId=b2b51c3388c0b96c23271e71c067d331"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B00LTDOUFS&linkId=34232815f716aebe53b98c73800d3943"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B07ZQ8T1ZW&linkId=63a9d36d5969bd4b4b766d5931e43917"></iframe>
                    </div>
                </div>
                <hr>
                <div class="row" id="00003">
                    <div class="col-6 my-auto text-center">
                        <img src="/amazonLinkHeader_-03.svg" alt="sakuSAKU備蓄チェックー飲料水の画像" class="">
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B003TDTK0G&linkId=7d6db87a464f9e34a7b96ab40e9ddf7f"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B07C5TQVG5&linkId=dd53ccc255e14243dcdc60a7a3baa8cb"></iframe>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
                <hr>
                <div class="row" id="00004">
                    <div class="col-6 my-auto text-center">
                        <img src="/amazonLinkHeader_-04.svg" alt="sakuSAKU備蓄チェックー飲料水の画像" class="">
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B0777HL1GV&linkId=c41416102c78dcba4c52faa505847560"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B06ZZQGKX3&linkId=6b63ed4ed54c674e834a3b6aacd66626"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B00KHP2V8W&linkId=1952bf4f6437ca1eac9d20e089c3b6b5"></iframe>
                    </div>
                </div>
                <hr>
                <div class="row" id="00005">
                    <div class="col-6 my-auto text-center">
                        <img src="/amazonLinkHeader_-05.svg" alt="sakuSAKU備蓄チェックー飲料水の画像" class="">
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B00EI5LO0S&linkId=b65d58f0ef65b30ea78be09ac1187119"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B00ICE3GZC&linkId=54dcf5b91185181390b10477a6c09fa7"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B079TCT3WW&linkId=da97f8df6d43f2360937c804b6f5fe18"></iframe>
                    </div>
                </div>
                <hr>
                <div class="row" id="00006">
                    <div class="col-6 my-auto text-center">
                        <img src="/amazonLinkHeader_-06.svg" alt="sakuSAKU備蓄チェックー飲料水の画像" class="">
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B00URF5ZSK&linkId=74163abe53b212efc92d1493fc12838b"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B00FQCHFBY&linkId=7683fc92287cbe4056af5d89143be0ad"></iframe>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
                <hr>
                <div class="row" id="00007">
                    <div class="col-6 my-auto text-center">
                        <img src="/amazonLinkHeader_-07.svg" alt="sakuSAKU備蓄チェックー飲料水の画像" class="">
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B0019X27Y4&linkId=e4cba3b798dacd3f5bb062ce58266ab6"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B003CC1TEO&linkId=7d069ac373c1613a5066b40130269ea4"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B0751JD1CV&linkId=833ef3011e1bb384bd7b14bb776f9c9a"></iframe>
                    </div>
                </div>
                <hr>
                <div class="row" id="00008">
                    <div class="col-6 my-auto text-center">
                        <img src="/amazonLinkHeader_-08.svg" alt="sakuSAKU備蓄チェックー飲料水の画像" class="">
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B013OS376S&linkId=b69a9be2734b25ed72f662978c4aac5c"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B00CHG89MQ&linkId=eb5a94038c479b3b2fdc5502740aedb4"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B005LTHL2K&linkId=f3853648bec0a279eefbc2c0eff2c7cd"></iframe>
                    </div>
                </div>
                <hr>
                <div class="row" id="00009">
                    <div class="col-6 my-auto text-center">
                        <img src="/amazonLinkHeader_-09.svg" alt="sakuSAKU備蓄チェックー飲料水の画像" class="">
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B07STBM5QB&linkId=30cfb26ab2d6df66f538bfeb12cb3a32"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B07JLQV16C&linkId=27688ea64729b264b271c572b9defc44"></iframe>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
                <hr>
                <div class="row" id="000010">
                    <div class="col-6 my-auto text-center">
                        <img src="/amazonLinkHeader_-10.svg" alt="sakuSAKU備蓄チェックー飲料水の画像" class="">
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B01EJ80R7E&linkId=44f83a7675e4cd53d980af9d3518a006"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B071NVS7QL&linkId=4d811ae3e667d1dde6c18cc69dfc4601"></iframe>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
                <hr>
                <div class="row" id="000011">
                    <div class="col-6 my-auto text-center">
                        <img src="/amazonLinkHeader_-11.svg" alt="sakuSAKU備蓄チェックー飲料水の画像" class="">
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B00UV7XN1A&linkId=71a9ec9883c8a7fc03a2a4142986ae81&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B00APT1ISO&linkId=d08b9961af24666b4b03426369df52f9&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B00APBQWF6&linkId=b2ddfad492853f49a3ec2b222f6ec72e&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr"></iframe>
                    </div>
                </div>
                <hr>
                <div class="row" id="000012">
                    <div class="col-6 my-auto text-center">
                        <img src="/amazonLinkHeader_-12.svg" alt="sakuSAKU備蓄チェックー飲料水の画像" class="">
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B00IMKLQDU&linkId=cdcf23133e08b87f5496b288467281f1"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B07GH8R323&linkId=096984620dd3a0b3c27a77f95a4b1470"></iframe>
                    </div>
                    <div class="col-2">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=sakusakubichi-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B076MZPT9S&linkId=e472879c1e5df4d4c77809b484eef8a8"></iframe>
                    </div>
                </div>
                <hr>
            </div>
        </section>
    </article>


    <article class="art_2 mx-auto d-block">
        <section class="sect_2 mt-5">
            <div class="container sectionBox">
                <div class="container">
                    <img src="/topTitle-fs000-04.svg" alt="sakuSAKU備蓄チェックー「オススメ防災グッズ」バナー" class="mb-3">
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <p class="topMessageBox text-center">
                                こちらでは、アマゾンで見つけた防災用に備蓄しておくと、<br>
                                もしもの時に便利かも！と思ったアイテムをご紹介します。<br>
                                災害はいつ起こるか予測ができません。不測の事態への備えの参考になれば幸いです。<br><br>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B079GWFT22&linkId=396108fdc48fa2de56c0d3be4b70edb8&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B07X6SM27S&linkId=a16d4aa88e47e507ccd69533f7e61875&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B07JG28QVK&linkId=9a834ec4e8fc9713598d7db5cae10617&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B081S53Q24&linkId=fae8355fa714bf46d445b83b45b8a8ac&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B076BHJ1CV&linkId=03bc4236e5c06ac5c9c479dd7e4ed80c&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B08699FPR6&linkId=485fdb79012028ef3e55a6477ad4432a&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                       </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B06XZM1RGH&linkId=058f6e833e761216067f0bb7689fde94&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B077SBM6J3&linkId=95a00c44e385a568d8afa85a01c6fcab&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B07TQ2TY74&linkId=eede0c3cbf955fe312028237257a803c&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B07YKD4JDK&linkId=cdcd62a6afe590d4000a1e324318c369&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B07PTB44M7&linkId=c2275e37113318ce24ccd563e7d1ca59&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B06W2PG32T&linkId=b1277a2755f762e59c01fe1647181b04&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe> 
                       </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B07SN3CQ6L&linkId=f40669b79fe967c05bbf588e02470455&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B07X7PWLWY&linkId=0dc163c8b27df3244bf77d4b3d8071fa&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B07FPD4SK6&linkId=a16d8eb530bd32e6ea714ca9c0cfd9cc&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>                        
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B084S6XZHF&linkId=c90503134b4488cb4ee3ba4f1237cc02&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B07W8FW318&linkId=dd5ae6cd0d17aff8b642ba6fc795d446&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                        <div class="col-2">
                            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=sakusakubichi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B00KE2RGME&linkId=3541b28edce1e6894fb9c896e12d8415&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
                            </iframe>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </article>
</main>

