// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.threePointImg {
    width: 100%
}
.answers {
    background-color: rgb(110, 163, 110);
}

.answerTable {
    text-align: center;
}

.answerCol_1 {
    background-color:rgb(253, 244, 116);
    font-weight: bold;
}

.answerCol_2 {
    background-color:rgb(252, 119, 119);
    font-weight: bold;
}

.userCol {
    background-color:rgb(250, 245, 169);
    font-weight: bold;
    font-size: 1rem;
}

.answerCol {
    background-color:rgb(252, 178, 178);
    font-weight: bold;
    font-size: 1rem;
}

table {
    background-color: white;
}
.tableHeaderBox {
    background-color: rgb(5, 63, 57);
}

.tableHeader {
    font-weight: bold;
    font-size: 1.6rem;
    color: white
}

.showtable td {
    font-size: 1.5rem;
    font-weight: bold;

}

.answer, .required {
    font-size: 2rem;
}

.itemName {
    font-size: 1rem;
    text-align: left;

}

.questionSentence {
    font-weight: bold;
    font-size: 1.2rem;
}

.subTitle {
    width: 90%;
 }

 .answererBox, .hitsujuhinBox, .shushokuBox, .shusaiBox {
    margin : 3em 0 1.5em ;
    padding : 1em 1.5em ;
    line-height : 1.8 ;
    border : solid 10px #333 ;
    background-color: whitesmoke;
 }

.questionHeader {
    font-weight: bolder;
    background-color: rgb(248, 241, 134);
    padding: 5px
}

.nextBtn {
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    color:black;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
}
.nextBtn:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }

  .submitBtn {
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    color:black;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
  }
  
  .submitBtn:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }


  .stockItemImg {
      width: 100px
  }

  .terms {
    border: 1px solid #ccc;
    font-size: 12px;
  }

  .showWeeklyText {
    font-weight: bold;
  }

  .weeklyText {
      color: white;
      font-weight: bold;
  }

.print-off {
    display: none;
}

.btn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #b82f2f;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #b67575;
    border-radius: 3px;
  }
  .btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }

  .updateBtn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #16991c;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #75b683;
    border-radius: 3px;
    width: 250px;
  }
  .updateBtn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }

  .forstockBtn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7e70e;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #d8d08b;
    border-radius: 3px;
  }
  .forstockBtn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }

  
  .BtnTexts {
      font-size: 1.4rem;
      font-weight: bolder;
      color: white;
  }
  .forstockBtnTexts {
    font-size: 1.4rem;
    font-weight: bolder;
    color: black;
}
.editBtnTexts {
  font-size: 2rem;
  font-weight: bolder;
  color: white;
}

  .topContent {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    background: linear-gradient(transparent 60%, rgb(252, 116, 116) 0%);
  }
  


// thの固定
  .answerIndexTable thead {
    display: block;
  }
  
  .answerIndexTable tbody {
    display: block;
    overflow-y: scroll;
    height: 250px;
  }
  .answerIndexTable th, .answerIndexTable td {
        min-width: 70px;
  }

  
.resultSaveHeader {
    box-shadow: 0px 0px 6px 3px #215c2c;
}

.printBc {
    background-color: rgb(253, 244, 116);
    text-align: center;
    font-weight: bold;
    color: black;
}

.saveBox {
    background-color: whitesmoke;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 3px #215c2c;
    width: 80%;
    margin: 20px auto;
    padding: 10px 0px

}

textarea {
  width: 90%;
  resize: none;
  font-size: 29pt;
  line-height: 45px;

  /* テキストエリアに陰をつける */
  box-shadow: 0.2em 0.2em 0.5em black;

  background-image:
  repeating-linear-gradient(
    #fff,
    #fff calc(1.5rem - 1px),
    #ced4da calc(1.5rem - 1px),
    #ced4da 1.5rem,
    #fff 1.5rem
  );
  background-origin: content-box;
  background-clip: content-box;
  background-attachment: local;
  /* 淡いグレーで枠線を囲む */
  border: 1px solid #ccc;
}

.editTable {
  width:90%
}
